.link {
  text-decoration: none;
}
.nav-item {
  padding-left: 650px;
}
a {
  text-decoration: none;
}
li {
  list-style-type: none;
}
.App {
  /* text-align: center; */
  font-size: clamp(18px, 8vw, 30px);
  font-weight: 600;
  color: #fff;
}
/* .main {
  display: flex;
  align-items: center;
  justify-content: center;
} */
.Nav_section {
  /* background: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3); */
  /* display: flex;
  align-items: left;
  justify-content: left; */
  width: 100%;
  border-radius: 5px;
}
/* .section {
  position: relative;
  top: 0;
  left: 0;
} */
.auth {
  /* display: flex; */
  justify-content: center;
  position: absolute;
  z-index: 1;
  top: 250px;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* login page */

.login_page {
  /* From https://css.glass */
  background: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  width: 400px;
  aspect-ratio: 1;
  color: #fff;
  /* border-radius: 5px;
  display: flex;
  justify-content: center; */
}
.log{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  z-index: -1;
}
.h1 {
  text-align: center;
  font-size: clamp(18px, 8vw, 30px);
  font-weight: 600;
  color: #fff;
  text-transform: capitalize;
  text-decoration: underline;
}
.input_field {
  position: relative;
  margin-top: 40px;
}
input {
  width: 240px;
  height: 50px;
  background-color: transparent;
  color: #fff;
  border-radius: 5px;
  font-size: 16px;
  font-weight: bold;
  position: relative;
  top:50%;
  left: 50%;
  transform: translate(-50%,-50%);
  /* margin: 15px; */
  outline: none;
  border: 2px solid #fff;
  margin: 10%;
}
label {
  position: absolute;
  left: 100px;
  top: -7px;
  font-size: 16 px;
  font-weight: bold;
  color: #fff;
  transition: 0.15s;
}
input:focus {
  border: 2px solid #fff;
}
input:focus ~ label,
input:valid ~ label {
  z-index: 999;
  top: -30px;
  font-size: 14px;
  color: #000;
  background:#fff;
  backdrop-filter: blur(5px);
  padding: 0px 5px;
}
.sub_button {
  width: 150px;
  padding: 10px 20px;
  background-color: green;
  color: #fff;
  border-radius: 7px;
  font-size: 14px;
  font-weight: 600;
  position: relative;
  top:50%;
  left: 50%;
  transform: translate(-50%,-50%);
  /* left: 120px; */
  margin-top: 20px;
}
.sub_button:is(:hover, :active) {
  background-color: transparent;
  border: 3px solid green;
  color: green;
}
/*dashbord section */
.dashboard{
  padding: 50px;
  background-color: #fff;
  width: 500px;
  text-align: center;
  border-radius: 10px;
  height: 250px;
  position:absolute;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%);
  z-index: -1;
}
.dashboard>h2{
  font-size: clamp(18px,8vw,30px );
}
.dashboard>h1{
  font-size: clamp(18px,8vw,1.325rem );
}
@media (max-width:1400px) {
  .nav-item {
    padding-left: 502px;
}
}
@media (max-width: 1200px) {
  .nav-item {
    padding-left: 400px;
  }
}
@media (max-width: 992px) {
  .nav-item {
    padding-left: 0px;
  }
  .dashboard {
    background-color: #fff;
    width: 400px;
    text-align: center;
    border-radius: 10px;
    height: 250px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
}
}
@media (max-width:576px) {
  .login_page {
    /* From https://css.glass */
    background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    width: 300px;
    aspect-ratio: 1;
    
  }
  label {
    position: absolute;
    left: 50px;
    top: -7px;
    font-size: 16 px;
    font-weight: bold;
    color: #fff;
    transition: 0.15s;
  }
  .dashboard {
    background-color: #fff;
    width: 300px;
    text-align: center;
    border-radius: 10px;
    height: 250px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
}
}
